/* Estilos para la lista personalizada */
.custom-list {
    color: darkgreen;
    list-style-type: none;
    padding-left: 20px;
}

.custom-list li:before {
    content: "→"; 
    margin-right: 5px;
    color: blue;
}

/* Estilos para los enlaces */
.custom-list a {
    color: olivedrab; 
    text-decoration: none;
}

.custom-list a:hover {
    text-decoration: underline;
    color: gold;
}
